@model QualifyMe.ViewModels.JobView

<div class="col-sm-12">
    <div class="card">
        <div class="row">
            <div class="profile">
                <img src="~/images/avatar.png" alt="" height="50px" width="50px">
                <p>@Model.Student.StudentName</p>

        
            </div>           
        </div>
    </div>
</div>
