@model QualifyMe.ViewModels.ApplicantView


<div class="layout-inline row">

    <div class="col col-pro layout-inline">

        <p>@Model.Student.StudentName</p>
    </div>

    <div class="col col-price col-numeric align-center ">
        <p></p>
    </div>

    <div class="col col-qty layout-inline">
        <p>@Model.Job.JobTitle</p>
    </div>

    <div class="col col-vat col-numeric">
        <p>pending</p>
    </div>

</div>
