@model QualifyMe.ViewModels.ApplicantView


<div class="layout-inline row">
    <input type="hidden" name="ApplicantID" value="@Model.ApplicantID" />
    <div class="col col-pro layout-inline">

        <p> @Model.Student.UserID</p>
    </div>

    <div class="col col-price col-numeric align-center ">
        <p></p>
    </div>

    <div class="col col-qty layout-inline">
        <p>@Model.ApplicantsCount</p>
    </div>

    <div class="col col-vat col-numeric">
        <p>@Model.ApplicantStatus</p>
    </div>

</div>
