@model QualifyMe.ViewModels.JobView


    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <ul class="job-list">
                    <li class="job-preview">
                        <div class="content float-left">
                            <input type="hidden" name="JobID" value="@Model.JobID" />
                            <h4 class="job-title">
                                <a href="/company/jobs/view/@Model.JobID">@Model.JobTitle</a>
                            </h4>
                            <h5 class="company">
                                @Model.Department.DepartmentName
                            </h5>
                        </div>
                        <a href="/company/applicants/list/@Model.JobID" id="JobID" name="JobID" class="btn btn-apply float-sm-right float-xs-left">
                            @Model.ApplicantsCount
                        </a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>


