@model List<QualifyMe.ViewModels.CompanyView>

@{
    ViewBag.Title = "Companies";
}

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <tr>
                <th>Company Name</th>
                <th>Company Email</th>
                <th>Status</th>

            </tr>
            @foreach (var item in Model)
            {
                Html.RenderPartial("Company", item);
            }
        </table>
    </div>
</div>

<script>
    $("a[href='/allcompanies']").attr("id", "active");
</script>