
@model List<QualifyMe.ViewModels.StudentView>

@{
    ViewBag.Title = "Students";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>@ViewBag.Title - QualifyMe</title>
    @Styles.Render("~/Styles/bootstrap")
    @Styles.Render("~/Styles/site")
    @Scripts.Render("~/Scripts/bootstrap")
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>


    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

</head>




<body>



    <div id="layoutSidenav_content">
        <main>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <tr>
                            <th>Student Name</th>
                            <th>Email</th>
                            <th>Status</th>

                        </tr>
                        @foreach (var item in Model)
                        {
                            Html.RenderPartial("Student", item);
                        }
                    </table>
                </div>
            </div>



        </main>

    </div>



</body>

</html>








