@model QualifyMe.ViewModels.CompanyLoginView

@{
    ViewBag.Title = "Login Company";
}

<div class="split left">
    <div class="centered">
        <h4>Welcome</h4>
        <p>Login to your company account</p>
        <form action="/account/companylogin" method="post" class="needs-validation" novalidate="novalidate">
            @Html.AntiForgeryToken()
            <div class="form-group mr-3">
                <label for="email" class="mr-1">Email:</label>
                <input type="email" class="form-control" id="email" name="Email" required="required" autofocus="autofocus" value="@Model.Email">
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Invalid Email</div>
            </div>

            <div class="form-group mr-3">
                <label for="pwd" class="mr-1">Password:</label>
                <input type="password" class="form-control" id="pwd" name="Password" required="required" value="@Model.Password" minlength="6">
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Password must contain at least 6 characters</div>
            </div>

            <button class="btn btn-success">Login</button>
            <div class="text-danger">

                <div class="mt-4 text-center body1">
                    Don't have an account?
                    <a href="/account/companyregister" class="color-Y700">
                        Sign up here
                    </a>
                </div>

                <div class="my-3">
                    <span class="separator">
                        or
                    </span>
                </div>

                <p class="text-center body1">
                    Are you a Student?

                    <a href="/account/login"
                       class="blue-link">
                        Login here
                    </a>
                </p>

            </div>
        </form>
    </div>
</div>

<div class="split right">
    <div class="centered">
        <img src="~/images/cityy.jpg">
    </div>
</div>





<script>
    $("a[href='/account/companylogin']").attr("id", "active");

    $(document).on("submit", ".needs-validation", validate);
    $(".needs-validation input").blur(validate);
    function validate(event) {
        if ($(".needs-validation")[0].checkValidity() == false) {
            event.preventDefault();
        }
        $(".needs-validation")[0].classList.add("was-validated");
    }
</script>