@model QualifyMe.ViewModels.LoginView

<link rel="stylesheet" href="~/content/form.css">
<main>
    <div class="wrapper">
        <div class="heading">
            <img src="~/Images/qualifyme-logo.png" class="center" />
            <h5><p>Welcome to QualifyME!</p></h5>
            <h5><p>Student Login</p></h5>
        </div>

        <form action="/account/login" class="form-group" method="post" class="needs-validation" novalidate="novalidate">
            @Html.AntiForgeryToken()
            <input type="text" placeholder="email" class="email" id="email" name="Email" value="@Model.Email">
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Invalid Email</div>
            <input type="password" placeholder="password" class="passwd" id="pwd" required="required" name="Password" value="@Model.Password">
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Password must contain at least 6 characters</div>
            <a href="#" class="btn btn-forget">Forget your password?</a>
            <button class="btn btn-success">Login</button>

            <a>Don't have an account?</a>
            <a href="/account/register">
                Sign up here
            </a>
            <div class="center">
                <span class="separator">
                    or
                </span>
            </div>
            <p class="text-center body1">
                Are you a Company?

                <a href="/account/companylogin"
                   class="blue-link">
                    Login here
                </a>
            </p>
        </form>
    </div>
</main>
<script>
        $("a[href='/account/login']").attr("id", "active");

        $(document).on("submit", ".needs-validation", validate);
        $(".needs-validation input").blur(validate);
        function validate(event) {
            if ($(".needs-validation")[0].checkValidity() == false) {
                event.preventDefault();
            }
            $(".needs-validation")[0].classList.add("was-validated");
        }
</script>
