@model QualifyMe.ViewModels.CourseView

<link rel="stylesheet" href="~/content/form.css">
<main>
    <div class="wrapper">
        <div class="heading">
            <img src="~/Images/qualifyme-logo.png" class="center" />
            <h5><p>Welcome to QualifyME!</p></h5>
        </div>
       
        <form action="/account/register" class="form-group" id="register" method="post" class="needs-validation" novalidate="novalidate">
            @Html.AntiForgeryToken()
            <h5><p>SIGN UP</p></h5>
            <input type="number" class="form-control" id="StudentID" name="StudentID" required="required" autofocus="autofocus" placeholder="School ID">
            <input type="text" class="form-control" id="StudentFirstName" name="StudentFirstName" required="required" autofocus="autofocus" placeholder="Firstname">
            <input type="text" class="form-control" id="StudentLastName" name="StudentLastName" required="required" autofocus="autofocus" placeholder="Lastname">
            <input type="text" class="form-control" id="Email" name="Email" required="required" autofocus="autofocus" placeholder="Email">
            <input type="password" class="form-control" id="pwd" name="Password" required="required" minlength="6" placeholder="Password">
            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required="required" autofocus="autofocus" placeholder="Confirm Password">
            <div class="col-100">
                <select id="drpCourses" name="CourseID" required="required">
                    <option value="">Choose Course</option>
                    @foreach (var item in ViewBag.Courses)
                    {
                        <option value="@item.CourseID">@item.CourseName</option>
                    }
                </select>
            </div>
            <a href="#" class="btn btn-forget">Forget your password?</a>
            <button type="submit" class="btn btn-success">SIGNUP</button>

            Already have an account?
            <a href="/account/login">
                Log In
            </a>

        </form>
    </div>
</main>