<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<div class="w3-container w3-content" style="max-width:1000px;margin-top:80px">
    <div class="w3-col m12">
        <div class="w3-container w3-card w3-white w3-round w3-margin">
            <div class="container">              
                    <div class="title">
                        <img src="~/Images/tag.svg" alt="icon">
                        <h2>Skills</h2>
                    </div>
                    <div class="content">
                        <p>Press enter or add a comma after each skill</p>
                        <ul><input type="text" name="SkillName" id="SkillName" spellcheck="false"></ul>                     
                    </div>
                    <div class="details">
                        <p><span>10</span> skills are remaining</p>
                        <button>Remove All</button>
                        <button>Next</button>
                    </div>                    
            </div>
    </div>
</div>


<script>
    const ul = document.querySelector("ul"),
        input = document.querySelector("input"),
        skillNumb = document.querySelector(".details span");

    let maxSkills = 10,
        skills = [];

    countSkills();
    createSkill();

    function countSkills() {
        input.focus();
        skillNumb.innerText = maxSkills - skills.length;
    }

    function createSkill() {
        ul.querySelectorAll("li").forEach(li => li.remove());
        skills.slice().reverse().forEach(skill => {
            let liSkill = `<li>${skill} <i class="uit uit-multiply" onclick="remove(this, '${skill}')"></i></li>`;
            ul.insertAdjacentHTML("afterbegin", liSkill);
        });
        countSkills();
    }

    function remove(element, skill) {
        let index = skills.indexOf(skill);
        skills = [...skills.slice(0, index), ...skills.slice(index + 1)];
        element.parentElement.remove();
        countSkills();
    }

    function addSkill(e) {
        if (e.key == "Enter") {
            let skill = e.target.value.replace(/\s+/g, ' ');
            if (skill.length > 1 && !skills.includes(skill)) {
                if (skills.length < 10) {
                    skill.split(',').forEach(skill => {
                        skills.push(skill);
                        createSkill();
                    });
                }
            }
            e.target.value = "";
        }
    }

    input.addEventListener("keyup", addSkill);

    const removeBtn = document.querySelector(".details button");
    removeBtn.addEventListener("click", () => {
        skills.length = 0;
        ul.querySelectorAll("li").forEach(li => li.remove());
        countSkills();
    });

</script>
