
@{
    ViewBag.Title = "About";
    Layout = "~/Areas/Company/Views/Shared/CompanyLayoutPage1.cshtml";
}

<h2>About</h2>

<header class="site-header site-about-header">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12 mx-auto">
                <h1 class="text-white">QualifyMe Story</h1>

                <strong class="text-white">We act as bridge between Student and Company.</strong>
            </div>

        </div>
    </div>

    <div class="overlay"></div>
</header>

<section class="about section-padding">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <h2 class="mb-5">Team Members</h2>
            </div>



            <div class="col-lg-4 col-12 my-lg-0 my-4">
                <div class="team-thumb">
                    <img src="~/images/developers/louela.png" class="img-fluid team-image" alt="">

                    <h4 class="mt-3 mb-0">Louela L. Balili</h4>

                    <p>Web Developer</p>
                </div>
            </div>

            <div class="col-lg-4 col-12">
                <div class="team-thumb">
                    <img src="~/images/developers/loren.png" class="img-fluid team-image" alt="">

                    <h4 class="mt-3 mb-0">Loren T. Cisneros</h4>

                    <p>Web Developer</p>
                </div>
            </div>

        </div>
    </div>
</section>