@model List<QualifyMe.ViewModels.JobView>
@{
    ViewBag.Title = "CompanyHomepage";
    Layout = "~/Areas/Company/Views/Shared/CompanyLayoutPage1.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
    </style>
</head>
<body>
    <div class="row">
        <div class="leftcolumn">
            @foreach (var item in Model)
            {
                <div class="card">
                    <div class="profile">
                        <img src="~/images/avatar.png" alt="" height="50px" width="50px">
                        <a>@item.Company.CompanyName</a>
                    </div>
                    <a href="/jobs/view"> @item.JobTitle</a>
                    <p>@item.JobDateAndTime</p>
                    @*<div class="fakeimg" style="height:200px;">Image</div>*@
                   
                    <p>@item.JobDescription</p>
                </div>
            }
        </div>
    </div>

   

</body>
</html>



