* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    
}

.container {
    width: 80%;
    border: 3px solid black;
    border-radius: 0.5em;
    overflow: hidden;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.btn {
    padding: 0.75rem 1.25rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
}

    .btn:hover {
        background-color: #ddd;
    }

    .btn.active {
        background-color: lightgreen;
    }

.sections {
    background-color: #ddd;
}

.content.active {
    padding: 2rem;
    display: block;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

p {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    line-height: 1.5;
    font-weight: 300;
}

.content {
    display: none;
}
