@model List<QualifyMe.ViewModels.CompanyView>

@{ 
    ViewBag.Title = "Companies";
}

<section class="menu section-padding ">
    <div class="container">
        <h2 class="text-center mb-lg-5 mb-4 text-left">Companies</h2>
        <div class="row">
            <div class="col-12">

            </div>
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 ">
                    <div class="menu-thumb">
                        <div class="menu-image-wrap">
                            <img src="~/images/companies/rbt-logo.png" class="img-fluid menu-image" alt="">
                        </div>

                        <div class="menu-info d-flex flex-wrap align-items-center">
                            <h5 class="mb-0">@item.CompanyName</h5>
                            <div class="d-flex flex-wrap align-items-center w-100 mt-2">
                                <p class="reviews-text mb-0 me-3">@item.CompanyDescription</p>
                            </div>
                        </div>
                        <h5><span style="color: white; position: center;"><a href="#" class="btn btn-primary" style="background-color:forestgreen">View Profile</a></span></h5>
                    </div>
                </div>
            }

</section>