@model List<QualifyMe.ViewModels.CourseView>

@{ 
    ViewBag.Title = "Courses";
}

<div class="row">
    <div class="col-sm-12">
        <h4>List of Courses</h4>
        <ul class="list-group list-group-flush">

            <table class="table table-striped table-hover">
                <thead>
                <tr>
<<<<<<< HEAD
                  
                    <th>Course</th>
=======
                    <th>CourseName</th>
>>>>>>> louela
                    
                </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                    <tr>
<<<<<<< HEAD
                      
=======
>>>>>>> louela
                        <td>@item.CourseName</td>
                        
                    </tr>
                    </tbody>
                }
            </table>
        </ul>
    </div>
</div>

<script>
      $("a[href='/home/courses']").attr("id", "active");
</script>