@model List<QualifyMe.ViewModels.JobView>
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
    </style>
</head>
<body>
    <div class="row">
        <div class="leftcolumn">
            @foreach (var item in Model)
            {
            <div class="card">
                <div class="profile">
                    <img src="~/images/avatar.png" alt="" height="50px" width="50px">
                    <a>@item.Company.CompanyName</a>
                </div>
                <a href="/jobs/view/@item.JobID"> @item.JobTitle</a>
                <p>@item.JobDateAndTime</p>
                @*<div class="fakeimg" style="height:200px;">Image</div>*@
               
                <p>@item.JobDescription</p>
            </div>
            }
            </div>
        <div class="rightcolumn">
            @*<div class="card">
                <h2>About Me</h2>
                <div class="fakeimg" style="height:100px;">Image</div>
                <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            </div>*@
            <div class="card">
                <h4>Recommended Jobs for you</h4>
                <p>Job</p>
                <p>Job</p>
                <p>Job</p>
            </div>
            <div class="card">
                <h5>Follow Me</h5>
                <p>Some text..</p>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-fluid">
            <p class="copyright">&copy; 2022 <a href="#" target="_blank">QuailfyMe</a>. All Rights Reserved.</p>
        </div>
    </footer>

</body>
</html>



