<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/content/landing.css">
<body>

    <section class="hero">
        <div class="background-image"></div>
        <div class="hero-content-area">
            <h1>Work while Studying, QualifyME!</h1>
            <strong class="text-white">Get your career on path with QualifyME!.</strong>
            <h3>Get career opportunities on QualifyMe.</h3>
            <a href="/account/login" class="btn">Login Here</a>
        </div>
    </section>
</body>
<footer class="footer">
    <div class="bd-best">
        <div class="bd-best-list">
            <figure class="bd-best-item">
                <img class="kl_img" src="~/Images/School/1.png" alt="">
            </figure>
            <figure class="bd-best-item">
                <img class="kl_img" src="~/Images/School/2.png" alt="">
            </figure>
            <figure class="bd-best-item">
                <img class="kl_img" src="~/Images/School/3.png" alt="">
            </figure>
            <figure class="bd-best-item">
                <img class="kl_img" src="~/Images/School/4.png" alt="">
            </figure>
            <figure class="bd-best-item">
                <img class="kl_img" src="~/Images/School/5.png" alt="">
            </figure>
            <figure class="bd-best-item">
                <img class="kl_img" src="~/Images/School/6.png" alt="">
            </figure>

        </div>
    </div>
</footer>

@*<section class="whychoose">
        <h3 class="title">Why Choose QualifyMe!.</h3>
        <hr>
        <p class="quote">STATEMENT HERE</p>
        <p class="author">- ll</p>

    </section>

    <section class="contact">
        <h3 class="title">Learn more</h3>
        <p>Want to know about our upcoming events, or come to one of our mixers? Just sign up for our mailing list. No spam from us, we promise! Except for the spam we give you to keep up your energy while you're having fun with your friends. Have a blast! We have tons of that.</p>
        <hr>

    </section>

    <footer>
        <p>Images courtesy of <a href="http://unsplash.com/">unsplash</a>.</p>
        <p>Why are you even reading this?! There's never anything interesting in the footer!</p>
        <ul>
            <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
        </ul>
    </footer>*@

