@model  IEnumerable<QualifyMe.ViewModels.Model>
@{
    ViewBag.Title = "MyApplications";
}


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <div class="w3-col m20">
        <div class="w3-container w3-card w3-white w3-round w3-margin">
          
                <div class="layout-inline row th">
                    <div class="col col-pro">Jobs</div>
                    <div class="col col-pro">
                        Company
                    </div>
                    <div class="col col-qty">Type</div>
                    <div class="col">Status</div>
                </div>

                <table class="col-sm-12">
                    @foreach (var item in Model)
                    {
                        //Html.RenderPartial("MyApplication", item);
                        <div class="layout-inline row">

                            <div class="col col-pro layout-inline">

                                <p>@item.job.JobTitle</p>
                            </div>

                            <div class="col col-qty layout-inline">
                                <p>@item.company.CompanyName</p>
                            </div>

                            <div class="col col-qty layout-inline">
                                <p>@item.job.JobTypes</p>
                            </div>

                            <div class="col col-vat col-numeric">
                                <p>pending</p>
                            </div>

                        </div>

                    }
                </table>
            </div>
        </div>
 
</div>
<script>
    $("a[href='/myapplications']").attr("id", "active");
</script>


