@model QualifyMe.ViewModels.JobView

<div class="card">
   
        <div class="block">
            <img src="~/images/avatar.png" alt="" height="50px" width="50px">
            <div>
                <p>@Model.Company.CompanyName</p>
              
                <a href="/jobs/view/@Model.JobID">@Model.JobTitle</a>
            </div>
            <p><mark>@Model.Department.DepartmentName</mark></p>
        </div>
    
</div>
