@model QualifyMe.ViewModels.CompanyView
@{
    ViewBag.Title = "Profile";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    <div class="container mt-5">

        <div class="row d-flex justify-content-center">

            <div class="col-md-7">

                <div class="card p-3 py-4">

                    <div class="text-center">
                        <img src="~/Images/avatar.png" width="100" class="rounded-circle">
                    </div>

                    <div class="text-center mt-3">

                        <h5 class="mt-2 mb-0">@Session["CurrentCompanyName"]</h5>
                        
                        <div class="px-4 mt-1">
                            <span>@Session["CurrentCompanyMobile"]</span>

                        </div>
                        <div class="px-4 mt-1">
                            <span>@Session["CurrentCompanyAddress"]</span>

                        </div>
                      

                        <div class="px-4 mt-1">
                            <span>@Session["CurrentCompanyDescription"]</span>

                        </div>



                        <div class="buttons">

                           
                            <button class="btn btn-primary px-4 ms-3" id="myEdit">Edit</button>
                        </div>


                    </div>




                </div>

            </div>

        </div>

    </div>
</body>
</html>
<script type="text/javascript">
    document.getElementById("myEdit").onclick = function () {
        location.href = "/company/account/changeprofile";
    };
</script>