@model QualifyMe.ViewModels.DepartmentView

<tr>
   

    <td class="text-dark">
        <a href="/admin/departments/viewdepartment/@Model.DepartmentID" class="text-primary">@Model.DepartmentName</a>
        <a href="/admin/departments/deletedepartment">Delete</a>
        <br />
      
    </td>
    
</tr>